@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Courier Prime", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  /* pointer-events: none; */
}

canvas {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #ffffccff;
}

button {
  all: unset;
  text-shadow: 0 0 5px #f0f0ffff;
  font-size: 1.3em;
  /* font-size: 2em; */
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

#options-menu {
  display: none;
}

#lobby-menu {
  display: none;
}

#menu #play {
}

#timer {
  display: none;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 0 0 5px #000;
}
