* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  pointer-events: none;
}

canvas {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#debug {
  position: absolute;
  color: white;
}

#id {
  position: absolute;
  color: white;
  background-color: #000000aa;
}
